<h1><%= @artist.name %></h1>

<h4>List of songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= song.name %> <%= link_to "[Delete song]", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>
<% else %>
  <p>This artist doesn't have any songs yet</p>
<% end %>

<%= link_to "[Delete artist]", artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } %>
